::-webkit-scrollbar {
    height: 10px;
    width: 14px;
}

::-webkit-scrollbar-thumb {
    background-color: #016A70;
    border: 2px solid #ffffff;
    border-radius: 50px;
    -webkit-transition: .3s;
    transition: .3s;
}

::-webkit-scrollbar-track {
    /*background: #016A70;*/
}